@media (max-width: 1050px) {
    .header-menu {
        display: none;
    }
    .burger{
        display: block;
    }
    .burger-menu{
        display: none;
    }
    .burger-menu__active{
        display: block;
    }

    
}
